<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Choose the countries</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="#"  th:action="@{/huy}" th:object="${user}" method="post">
<h1>secondPage</h1>
Choose:
   <input type="checkbox" name="se"
              th:each="mess: ${message}"
              th:text="${mess}"

              th:value="${mess}">

<!--<p th:text="'id: ' + ${data.id}"></p>-->
<!--<p th:text="'content: ' + ${data.content}"></p>-->
<!--<p th:text="'days: ' + ${data.customer}"></p>-->
<!--th:each="mess: ${message}"-->


<div ><input type="checkbox" value="check" id="check-1" >
    <label for="check-1">${coun</label></div>
<!--<div><input type="checkbox" value="check-2" id="check-2">-->
<!--    <label for="check-2">Choice 2</label></div>-->
<!--<div><input type="checkbox" value="check-3" id="check-3">-->
<!--    <label for="check-3">Choice 3</label></div>-->
    <input type="submit" value="Continue" />
<!--<a href="/">Submit another message </a>-->
</form>
</body>
</html>